wp-config.php
wp-config-sample.php
.htaccess
.user.ini

wp-admin/
wp-includes/
index.php
license.txt
readme.html
xmlrpc.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php

local-xdebuginfo.php
wordfence-waf.php

*.log
*.sql
*.zip
*.tar
*.gz
.DS_Store
Thumbs.db

wp-content/uploads/
